body {
  margin-top: 30px;
  font-family: "Helvetica";
  font-size: 14px;
  color: black; }

a {
  text-decoration: none;
  color: #0091FF; }

h1 {
  padding: 80px 0 10px;
  font-size: 50px; }
  h1 em {
    font-style: normal;
    font-size: 15px; }

h2 {
  font-size: 20px; }

code {
  display: block;
  padding: 2px;
  background: black;
  font-family: "Bitstream Vera Sans Mono";
  white-space: pre;
  color: white; }

hr {
  border: 0;
  width: 80%;
  border-bottom: 1px solid #aaa; }

.footer {
  padding-top: 30px;
  text-align: center;
  font-style: italic; }

#ribbon {
  position: absolute;
  top: 0;
  right: 0; }

#container {
  margin: 0 auto;
  width: 700px; }

#download {
  float: right; }
