!!!
%html
  %head
    %title JSpec - JavaScript Testing Framework
    %link{ :rel => 'stylesheet', :href => 'style.css' }
  %body
    %a{ :href => PROJECT_URL }
      %img#ribbon{ :src => 'http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png', :alt => 'Fork me on GitHub' }

  #container
    #download
      %a{ :href => PROJECT_URL + '/downloads' }
        %img{ :src => 'http://github.com/images/modules/download/zip.png' }
      %a{ :href => PROJECT_URL + '/downloads'  }
        %img{ :src => 'http://github.com/images/modules/download/tar.png' }
    
    = title 'JSpec', 'JavaScript Testing Framework'

    %p
      JSpec is a extremely small, yet very powerful testing framework. Utilizing its own custom grammar and
      pre-processor, JSpec can operate in ways that no other JavaScript testing framework can. This includes
      many helpful shorthand literals, a very intuitive / readable syntax, as well as not polluting core
      object prototypes.

    %h2 Features

    %ul
      %li Sexiest syntax of them all
      %li Framework / DOM independent
      %li Nested describes
      %li Does not pollute core object prototypes
      %li Async support
      %li Extremely simple and intuitive matcher declaration
      %li Over 45 core matchers
      %li Allows parens to be optional when using matchers to increase readability
      %li Several helpful formatters (dom, console, terminal, ...)
      %li Assertion graphs displaying how many, and which assertions pass or failed
      %li Default / customizable evaluation contexts
      %li DOM sandbox support
      %li Great looking default DOM theme
      %li Profiling
      %li Tiny (15 kb compressed, 1000-ish LOC)

    %h2 Example

    %pre= example 'basic'

    %h2 Misc

    %ul
      %li
        Get the
        %a{ :href => 'http://github.com/visionmedia/jspec.tmbundle/tree/master' } TextMate bundle

      %li 
        View the
        %a{ :href => PROJECT_URL } Readme
        for more documentation

    %h2 Authors

    %p 
      TJ Holowaychuk 
      %a{ :href => 'http://vision-media.ca' } (tj@vision-media.ca)

    .footer
      this mini site brought to you by : 
      %a{ :href => project_url('visionmedia', 'mini') } visionmedia/mini